.cajadelbuscador {
	height: 38px;
	border: 1px solid #CCCCCC;	
	border-radius: 4px;
	}

label{
	font-weight: bold;	
}

input[type="text"]{
	height: 38px;
	border: 1px solid #CCCCCC;	
	border-radius: 4px;
}

.titulo{
	font-weight: bold;
}
hr{
	margin-top: -8px;
	box-sizing: border-box;
	height: 1px;	
	border: 1px solid #979797;
}

.custom-border-top {
	border-top: 2px solid #979797 !important;
}

.veevalidate-error {
	font-size: 80%;
	color: #dc3545;
}

.map-show {
	width: 100%;
	height: 300px;
}

.map-results {
	height: 400px
}
