//General
$green-fedac:#086c00 !default;
// Body
$body-bg: #f5f8fa;

//Menu
$navbar-light-color:white;
$navbar-light-hover-color:white;
$navbar-light-active-color:white;

    // Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
