// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.select2 {
  width: 100%!important;
}

.menu {
    background-color: $green-fedac;
    -moz-box-shadow:    0px 3px 5px 5px #ccc;
    -webkit-box-shadow: 0px 3px 5px 5px #ccc;
    box-shadow:         0px 3px 5px 5px #ccc;
    .navbar {
        background-color: $green-fedac !important;
        .nav-item{
            text-transform: uppercase;
            :hover,&.active {
                font-weight: bolder;
                text-transform: uppercase;
            }
        }
    }
}

.footer {
    position:relative;
    z-index:1;
    .background {
        position:absolute;
        z-index:-1;
        display:block;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-image: url('../img/footer_background.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    .fedac_text {
        max-width:100%;
        a{
            color: white;
            text-decoration: none;
        }
    }
}

