body,p,.ff-richtext,li,li a,a,h1,h2,h3,h4,h5,h6,.progress-box-v1 .progress-title,.progress-box-v2 .progress-title,.team-v5-progress-box .progress-title,.pricing-list-v1 .pricing-list-v1-header-title,.team-v3 .progress-box .progress-title,.rating-container .caption>.label,.theme-portfolio .cbp-l-filters-alignRight,.theme-portfolio .cbp-l-filters-alignLeft,.theme-portfolio .cbp-l-filters-alignCenter,.theme-portfolio .cbp-filter-item,.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-link,.theme-portfolio .cbp-l-loadMore-button .cbp-l-loadMore-button-link,.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-link,.theme-portfolio .cbp-l-loadMore-text .cbp-l-loadMore-button-link,.theme-portfolio-v2 .cbp-l-filters-alignRight .cbp-filter-item,.theme-portfolio-v3 .cbp-l-filters-button .cbp-filter-item,.zeus .tp-bullet-title
{
    font-family:Roboto, Arial, sans-serif;
}

.fg-section.ffb-id-30o2l07v.fg-el-has-bg.fg-text-dark
{
    background-color:#086c00;
}

.ffb-id-30o2olpc
{
    height:41px;
}

.ffb-id-30o2qvaa
{
    height:50px;
}

.ffb-id-30o2nefv
{
    font-family:custom-font-family-3, Arial, sans-serif!important;
    text-align:center!important;
}

.ffb-id-21min53r,.ffb-id-21min53r::before,.ffb-id-21min53r::after,.ffb-id-21min53r:hover,.ffb-id-21min53r:focus,.ffb-id-21min53r *,.ffb-id-21min53r ::before,.ffb-id-21min53r ::after,.ffb-id-21min53r :hover,.ffb-id-21min53r :focus,.ffb-id-30o2mf2o,.ffb-id-30o2mf2o::before,.ffb-id-30o2mf2o::after,.ffb-id-30o2mf2o:hover,.ffb-id-30o2mf2o:focus,.ffb-id-30o2mf2o *,.ffb-id-30o2mf2o ::before,.ffb-id-30o2mf2o ::after,.ffb-id-30o2mf2o :hover,.ffb-id-30o2mf2o :focus,.ffb-id-30o2nefv::before,.ffb-id-30o2nefv::after,.ffb-id-30o2nefv:hover,.ffb-id-30o2nefv:focus,.ffb-id-30o2nefv *,.ffb-id-30o2nefv ::before,.ffb-id-30o2nefv ::after,.ffb-id-30o2nefv :hover,.ffb-id-30o2nefv :focus
{
    font-family:custom-font-family-3, Arial, sans-serif!important;
}

.ffb-id-30o2l5il,.ffb-id-30o2l5il,.ffb-id-30o2l5il::before,.ffb-id-30o2l5il::after,.ffb-id-30o2l5il:hover,.ffb-id-30o2l5il:focus,.ffb-id-30o2l5il *,.ffb-id-30o2l5il ::before,.ffb-id-30o2l5il ::after,.ffb-id-30o2l5il :hover,.ffb-id-30o2l5il :focus
{
    text-align:right!important;
}

.ffb-id-30o2od9j,.ffb-id-30o2od9j,.ffb-id-30o2od9j::before,.ffb-id-30o2od9j::after,.ffb-id-30o2od9j:hover,.ffb-id-30o2od9j:focus,.ffb-id-30o2od9j *,.ffb-id-30o2od9j ::before,.ffb-id-30o2od9j ::after,.ffb-id-30o2od9j :hover,.ffb-id-30o2od9j :focus,.ffb-id-30o2nefv,.ffb-id-30o2nefv::before,.ffb-id-30o2nefv::after,.ffb-id-30o2nefv:hover,.ffb-id-30o2nefv:focus,.ffb-id-30o2nefv *,.ffb-id-30o2nefv ::before,.ffb-id-30o2nefv ::after,.ffb-id-30o2nefv :hover,.ffb-id-30o2nefv :focus
{
    text-align:center!important;
}

@media (min-width: 992px) {
    .ffb-id-30o2l07v
    {
        padding-top:50px;
        padding-bottom:50px;
    }

    .ffb-id-30o2l58n
    {
        margin-top:-9px;
        margin-left:50px;
    }

    .ffb-id-30o2l5il,.ffb-id-30o2l5il,.ffb-id-30o2l5il::before,.ffb-id-30o2l5il::after,.ffb-id-30o2l5il:hover,.ffb-id-30o2l5il:focus,.ffb-id-30o2l5il *,.ffb-id-30o2l5il ::before,.ffb-id-30o2l5il ::after,.ffb-id-30o2l5il :hover,.ffb-id-30o2l5il :focus
    {
        text-align:right!important;
    }

    .ffb-id-30o2od9j,.ffb-id-30o2od9j,.ffb-id-30o2od9j::before,.ffb-id-30o2od9j::after,.ffb-id-30o2od9j:hover,.ffb-id-30o2od9j:focus,.ffb-id-30o2od9j *,.ffb-id-30o2od9j ::before,.ffb-id-30o2od9j ::after,.ffb-id-30o2od9j :hover,.ffb-id-30o2od9j :focus,.ffb-id-30o2nefv,.ffb-id-30o2nefv,.ffb-id-30o2nefv::before,.ffb-id-30o2nefv::after,.ffb-id-30o2nefv:hover,.ffb-id-30o2nefv:focus,.ffb-id-30o2nefv *,.ffb-id-30o2nefv ::before,.ffb-id-30o2nefv ::after,.ffb-id-30o2nefv :hover,.ffb-id-30o2nefv :focus
    {
        text-align:center!important;
    }
}

@media (min-width: 768px) {
    .ffb-id-30o2l5il,.ffb-id-30o2l5il,.ffb-id-30o2l5il::before,.ffb-id-30o2l5il::after,.ffb-id-30o2l5il:hover,.ffb-id-30o2l5il:focus,.ffb-id-30o2l5il *,.ffb-id-30o2l5il ::before,.ffb-id-30o2l5il ::after,.ffb-id-30o2l5il :hover,.ffb-id-30o2l5il :focus
    {
        text-align:right!important;
    }

    .ffb-id-30o2od9j,.ffb-id-30o2od9j,.ffb-id-30o2od9j::before,.ffb-id-30o2od9j::after,.ffb-id-30o2od9j:hover,.ffb-id-30o2od9j:focus,.ffb-id-30o2od9j *,.ffb-id-30o2od9j ::before,.ffb-id-30o2od9j ::after,.ffb-id-30o2od9j :hover,.ffb-id-30o2od9j :focus,.ffb-id-30o2nefv,.ffb-id-30o2nefv,.ffb-id-30o2nefv::before,.ffb-id-30o2nefv::after,.ffb-id-30o2nefv:hover,.ffb-id-30o2nefv:focus,.ffb-id-30o2nefv *,.ffb-id-30o2nefv ::before,.ffb-id-30o2nefv ::after,.ffb-id-30o2nefv :hover,.ffb-id-30o2nefv :focus
    {
        text-align:center!important;
    }
}

@media (min-width: 1200px) {
     .ffb-id-30o2l5il,.ffb-id-30o2l5il,.ffb-id-30o2l5il::before,.ffb-id-30o2l5il::after,.ffb-id-30o2l5il:hover,.ffb-id-30o2l5il:focus,.ffb-id-30o2l5il *,.ffb-id-30o2l5il ::before,.ffb-id-30o2l5il ::after,.ffb-id-30o2l5il :hover,.ffb-id-30o2l5il :focus
     {
         text-align:right!important;
     }

     .ffb-id-30o2od9j,.ffb-id-30o2od9j,.ffb-id-30o2od9j::before,.ffb-id-30o2od9j::after,.ffb-id-30o2od9j:hover,.ffb-id-30o2od9j:focus,.ffb-id-30o2od9j *,.ffb-id-30o2od9j ::before,.ffb-id-30o2od9j ::after,.ffb-id-30o2od9j :hover,.ffb-id-30o2od9j :focus,.ffb-id-30o2nefv,.ffb-id-30o2nefv,.ffb-id-30o2nefv::before,.ffb-id-30o2nefv::after,.ffb-id-30o2nefv:hover,.ffb-id-30o2nefv:focus,.ffb-id-30o2nefv *,.ffb-id-30o2nefv ::before,.ffb-id-30o2nefv ::after,.ffb-id-30o2nefv :hover,.ffb-id-30o2nefv :focus
     {
         text-align:center!important;
     }
 }

@media all {
    a
    {
        color:#086c00;
    }
}
