@import 'header';
@import 'main_image';
@import 'submenu';
@import 'footer';

.ffb-id-23a5jmvo {
    padding-top: 50px;
}
.ffb-id-23a5jmvp {
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
